.flower {
    margin-bottom: 120px;
}
.flower > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 {
    margin-bottom: 41px;
    color: #161616;
    font-family: Architects Daughter;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.flower-text {
    color: #161616;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.flower-text > p {
    margin-bottom: 21px;
    width: 540px;
}
.buttons > button {
    padding: 18px 34px 21px;
    color: #161616;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
}
.buttons > button:nth-child(1) {
    margin-right: 23px;
    border-radius: 6px;
    border: 1px solid #81A36B;
    background: #81A36B;
}
.buttons > button:nth-child(2){
    background: inherit;
    border-radius: 6px;
    border: 1px solid #81A36B;
}
