header {
    background: #81A36B;
}
header  .container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 33px 0;
}



.main-list {
    gap: 30px;
    display: flex;
}
.main-list a {
    text-decoration: none;
}
.main-list li {
    color: #161616;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 164.063%
}

